 <form>
                <div class="form-group row">
                    <label for="recipe_title" class="col-sm-2 col-form-label">Recipe title</label>
                    <div class="col-sm-6" >
                        <input type="text" class="form-control" id="recipe_title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="recipe_description" class="col-sm-2">Description</label>
                    <div class="col-sm-6" >
                     <textarea class="form-control" id="recipe_description" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="recipe_directions" class="col-sm-2">Directions</label>
                    <div class="col-sm-6" >
                        <textarea class="form-control" id="recipe_directions" rows="5" placeholder="Put each step in its own line"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="recipe_servings" class="col-sm-2">Servings</label>
                    <div class="col-sm-1" >
                         <input type="text" class="form-control" id="recipe_servings">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
    </form>