<%= my_title "Recipes" %>

<div class="container">
    <table class="table-responsive table table-sm">
    <thead>
        <tr>
        <th scope="col">Title</th>
        <th scope="col">Created by</th>
        </tr>
    </thead>
    <tbody>
        <%if @user.nil? %>
            <%= render_recipe_collection("recipe", @recipes)%>
        <%else%>
            <%= render_recipe_collection("user_recipe",@recipes) %>
        <%end%>
    </tbody>
    </table>
</div>