<%= my_title "Recipes" %>

<div class="container">
    <% if  @recipes.nil? %>
        There are no recipes
    <%else%>
        <table class="table-responsive table table-sm">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Created by</th>
            </tr>
        </thead>
        <tbody>
            <%= render @recipes %>
        </tbody>
        </table>
       
    <%end%>

</div>